@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

@font-face {
  font-family: 'Basique';
  src: url('/fonts/Basique-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Basique';
  src: url('/fonts/Basique-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Basique';
  src: url('/fonts/Basique-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@layer base {
  :root {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    --lime-50:  #f7fee7;
    --lime-100: #ecfccb;
    --lime-200: #d9f99d;
    --lime-300: #bef264;
    --lime-400: #a3e635;
    --lime-500: #84cc16;
    --lime-600: #65a30d;
    --lime-700: #4d7c0f;
    --lime-800: #3f6212;
    --lime-900: #365314;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded font-medium transition-colors;
  }
}

/* Regular CSS below */
a {
  font-weight: 500;
  color: #32CD32;
  text-decoration: inherit;
}

a:hover {
  color: #2CA62C ;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

/* Ensure the root div takes full width */
#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-family: 'Basique', sans-serif;
  font-weight: 900;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: 'Basique', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Basique', sans-serif;
  font-weight: 400;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #2CA62C;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #244721;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #2BBF2B;
  }
  
  button {
    background-color: #f9f9f9;
  }
}